@import "src/prebuilt/scss/mixins";

.root {
  @include container();
  display: grid;
  grid-template-rows: 250px 1fr 20%;
  gap: 10px;
  @include breakpoint(md) {
    grid-template-rows: unset;
    grid-template-columns: 200px 1fr 20%;
    gap: 30px;
  }
}