@import "../../scss/variables";
@import "../../scss/mixins";

.root {
    @include applyPreset(createPreset(16px, 500, 24px, normal));

    width: 100%;

    padding: 5px 10px;

    border: none;
    border-radius: 8px;

    background-color: rgba(map-get($colors, 'border-main'), .5);
    color: map-get($colors, 'typography-secondary');
}