@import "../../../../../../prebuilt/scss/variables";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    margin-bottom: 10px;
  }

  &__link {
    width: 100%;
  }
}

