@import "src/prebuilt/scss/variables";
@import "src/prebuilt/scss/mixins";

.root {
  &__mentorsCount {
    @include applyPreset(createPreset(16px, 500, 24px, normal));

    margin-left: 25px;
    margin-bottom: 10px;

    color: map-get($colors, 'typography-secondary');
  }

  &__title {
    margin-bottom: 10px;
  }

  & li {
    margin-bottom: 0;
  }

  &__addMoreBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    opacity: 1;
    transition: opacity 3s cubic-bezier(1, 0, 1, 0);

    &.hide {
      opacity: 0;
    }
  }

  &__loader {
    height: 100%;
    padding: 0 20px;

    svg {
      width: 16px;
      height: 16px;
      fill: map-get($colors, 'primary');
    }
  }
}