@import "src/prebuilt/scss/variables";
@import "src/prebuilt/scss/mixins";

.root {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
  @include breakpoint(md) {
    width: 30%;
  }
  @include breakpoint(lg) {
    width: 20%
  }

  &__link {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  & > span {
    margin-right: 5px;
  }

  &__arrow {
    position: absolute;
    top: 0;
    left: 10px;
    transition: all .1s linear;
  }

  &:hover &__arrow {
    left: 0;
  }
}